@{
    ViewData["Title"] = "Login Page";
}


<!-- 
    Written by Akshaan Singh, Dylan Hua, Ricardo Vargas
    For CS 4485.0W1, Final Project, Starting 04/04/2025

    This is the home page of the website, this is where the student will be asked to log in 
-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
